html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  margin: 0;
}

.scroll-container {
  height: 100vh;
  overflow-y: scroll;

  /* magin händer här */
  scroll-snap-type: y mandatory;

  scroll-behavior: smooth; /* smooth animation */
}

.panel {
  height: 100vh; /* varje section tar hela höjden */
  scroll-snap-align: start;
}
section:nth-of-type(even) {
  background-color: gray;
}
